---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ keywords }) => {
                return keywords.map((keyword) => {
                    return <li>{keyword}</li>;
                });
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>
