---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Certification from "@/components/sections/Certification.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title="Portafolio">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Certification />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		@apply px-[4rem] pb-[3rem] pt-[1rem] m-auto w-full max-h-dvh;
	}
</style>
